# Core App
streamlit
requests

# PDF Handling
PyMuPDF
PyPDF2
tiktoken  # for token counting if using OpenAI

# NLP and Clustering
nltk
sentence-transformers
hdbscan
keybert
scikit-learn
umap-learn

# Visualization
matplotlib

