# Core App
streamlit
requests

# PDF Handling
PyMuPDF
PyPDF2
TextBlob
wordcloud
nltk


# NLP and Clustering

sentence-transformers
hdbscan
keybert
scikit-learn
umap-learn

# Visualization
matplotlib

