# Core App
streamlit
requests
pyspellchecker

# PDF Handling
PyMuPDF
PyPDF2

# NLP & Text Processing
scikit-learn

# Keyword Extraction & Clustering
sentence-transformers
hdbscan
keybert
umap-learn

# Visualization
wordcloud
matplotlib
